
git+https://github.com/sapcc/openstack-watcher-middleware.git
git+https://github.com/sapcc/openstack-audit-middleware.git
git+https://github.com/sapcc/raven-python.git@ccloud#egg=raven
git+https://github.com/sapcc/glance_store.git@stable/yoga-m3#egg=glance_store
git+https://github.com/sapcc/oslo.messaging.git@stable/yoga-m3#egg=oslo.messaging
git+https://github.com/sapcc/keystonemiddleware.git@stable/yoga-m3#egg=keystonemiddleware
